name: Complex

on: push

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: Main action
        uses: actions/hello-world-docker-action@master
        with:
          who-to-greet: 'Mona the Octocat'
          
  job2:
    runs-on: windows-latest
    steps:
    - run: date
  job3:
    runs-on: macos-latest
    steps:
    - run: date
  job4:
    runs-on: ubuntu-latest
    needs: [job1, job2, job3]
    steps:
    - run: date


